DATABASE_URL="postgresql://vulnuser:vulnpass@localhost:5432/vulndb?schema=public"
JWT_SECRET="change-this-to-a-random-secret-at-least-32-chars"
JWT_EXPIRES_IN="8h"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
SCAN_CONCURRENCY_LIMIT=2
SCAN_ALLOWED_RANGES="10.0.0.0/8,172.16.0.0/12,192.168.0.0/16"
NMAP_BINARY="/usr/bin/nmap"
